.container {
  max-width: 1730px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.listContainerWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 40px;
}

.filtercontainer {
  width: 230px;
}

.listContainer {
  width: calc(100% - 285px);
  height: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 45px;

    li {
      width: calc(16.85%);
      height: auto;
      padding: 12px 12px 60px;
      position: relative;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px;
      transition: 0.5s;
    }
  }

  .productImgBox {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0px 0px 12px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;

    img {
      width: 100%;
    }
  }

  .cProductName {
    width: 100%;
    height: auto;
    max-height: 40px;
    margin-bottom: 5px;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 19px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    transition: 0.5s;
  }

  .reviewRateBox {
    width: auto;
    display: inline-block;
    font-size: 14px;
    color: rgb(241, 98, 59);
    font-family: open_sanssemibold, Helvetica, Arial, sans-serif;
    margin: 1px 5px 0px 0px;
    vertical-align: top;
  }

  .starRating {
    width: auto;
    display: inline-block;
    text-align: left;
    font-style: normal;
    unicode-bidi: bidi-override;
    vertical-align: top;
    position: relative;
    height: 16px;
    top: -3px;

    &::before {
      display: block;
      content: "★★★★★";
      color: rgb(255, 255, 255);
    }
    &:after {
      white-space: nowrap;
      position: absolute;
      top: 0px;
      left: 0px;
      content: "★★★★★";
      width: 88%;
      color: rgb(241, 98, 59);
      overflow: hidden;
      height: 16px;
      padding: 3px 0px 0px;
    }
  }

  .totalReviewBox {
    width: auto;
    display: inline-block;
    font-size: 14px;
    color: rgb(124, 124, 124);
    font-family: open_sansregular, Helvetica, Arial, sans-serif;
    vertical-align: top;
    white-space: nowrap;
    margin: 0px;
  }

  .ratingBox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0px 0px 8px;
    min-height: 57px;
    max-height: 57px;
  }

  .cProductSize {
    width: 100%;
    text-align: center;
    height: 21px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0px 0px 4px;
    color: rgb(48, 48, 48);
    font-size: 14px;
  }

  span {
    vertical-align: top;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }

  .btnBox {
    text-align: center;
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;

    a {
      display: inline-block;
      margin: 0px;
      font-size: 13px;
      border-radius: 6px;
      line-height: 14px;
      background: transparent;
      border-color: #fb7b48;
      color: #fb7b48;
      border: 1px solid;
      white-space: nowrap;
      padding: 8px 16px 9px;

      &:hover,
      &:focus {
        background: #fb7b48;
        border-color: #fb7b48;
        color: #fff;
      }
    }
  }
}

.paginationContainer {
  text-align: right;
  margin: 25px 0px 0px;
}

.recordline {
  width: auto;
  margin-right: 20px;
  color: rgb(102, 102, 102);
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 34px;
}

.paginationButtons {
  display: inline-block;

  button {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 34px;
    font-size: 12px;
    line-height: 34px;
    color: rgb(78, 78, 78);
    vertical-align: top;
    border-width: 1px 0px 1px 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
    cursor: pointer;
    background-color: #fff;

    &:last-child {
      border-right: 1px solid rgb(219, 219, 219);
    }

    &.activePage {
      background-color: rgb(251, 123, 72);
      color: rgb(255, 255, 255);
    }
  }
}

.breadcrumbs {
  list-style: none;
  padding: 12px 0px;
  li {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    line-height: 18px;
    font-size: 12px;
    color: rgb(124, 124, 124);
    font-weight: normal;
    &:last-child a {
      color: rgb(251, 123, 72);
      transition: 0.5s;
      &:before {
        display: none;
      }
    }

    a {
      display: block;
      padding: 0px 15px 0px 0px;
      position: relative;
      color: rgb(124, 124, 124);
      transition: 0.5s;
    }

    a::before {
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 15px;
    }
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    line-height: 30px;
    font-weight: normal;
    font-family: "open_sansbold", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #303030;
    margin: 0 0 18px 0;
  }

  .rightSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    label {
      line-height: 19px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(78, 78, 78);
    }

    select {
      background: url(https://www.bannerbuzz.com/static/images/common/selectDownArrow.svg)
        no-repeat 85% center #fff;
      width: auto;
      min-width: 224px;
      height: 42px;
      border: solid 1px #d4d4d4;
      padding: 8px 30px 8px 12px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      outline: none;
      line-height: 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-family: var(--font-open-sans);
      font-size: 13px;
      color: #666666;
      font-weight: normal;
      border-radius: 4px;
    }
  }
}
